li.task-container {
  display: flex;
  position: relative;
  gap: 1rem;
  padding-bottom: 4rem;
}

.task-container:not(:last-child)::after {
  content: '';
  position: absolute;
  top: var(--stepper-line-position);
  left: 0;
  width: 0.08em;
  height: calc(100% - var(--task-bullet));
  background-color: #e6e6e6;
  transform: translateX(calc(calc(var(--task-bullet) + 0.08em) / 2));
}

.checkbox-input {
  display: grid;
  grid-template-areas: 'checkbox';
  align-items: center;
  justify-items: center;
}

.checkbox-input * {
  grid-area: checkbox;
}

.checkbox-input input {
  opacity: 0;
  width: var(--task-bullet);
  height: var(--task-bullet);
}

.checkbox-input .checkbox-control {
  display: inline-grid;
  width: var(--task-bullet);
  height: var(--task-bullet);
  border-radius: 50%;
  border: 0.125em solid var(--off-white);
  z-index: 1;
}

.checkbox-control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox-input input:checked + .checkbox-control svg {
  transform: scale(1);
}

.checkbox-input input:checked + .checkbox-control {
  border: 0.125em solid #2e7d32;
}

label .task {
  min-height: var(--task-min-height);
  min-width: 40ch;
  margin-left: 1.3em;
  background-color: var(--tertiary);
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  color: var(--off-white);
}

.task .badge {
  min-height: var(--task-min-height);
  width: 0.4em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task p {
  margin-left: 1em;
}
