.new-task-page {
  height: 100vh;
  width: inherit;
  background-color: var(--tertiary);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em 2em;
  z-index: 3;
}

.new-task-page .new-task-header {
  display: flex;
  justify-content: space-between;
}

.new-task-header-left {
  display: inline-flex;
  color: var(--off-white);
  align-items: center;
  align-self: center;
}

.new-task-header-left img {
  cursor: pointer;
}

.new-task-header-left h1 {
  margin-left: 2rem;
  font-weight: bold;
}

.btn-finished {
  align-self: center;
  min-width: 15ch;
}

.btn-finished img {
  margin-right: 0.5em;
}

.new-task-page-content {
  padding: 3em 0;
}

.input-title {
  display: grid;
  grid-template-rows: min-content max-content;
  grid-gap: 1.5rem;
  align-items: start;
}

.input-title label {
  color: var(--off-white);
  font-size: var(--font-size);
  font-weight: 500;
}

.input-title input[id='title'] {
  width: 28rem;
  min-height: 2.8rem;
  background: none;
  border: 1.5px solid var(--off-white);
  border-radius: 8px;
  outline: none;
  color: var(--off-white);
  font-size: max(16px, var(--font-size));
  padding: 0.25em 0.5em;
  transition: 180ms box-shadow ease-in-out;
}

input[id='title']:focus {
  border-color: hsl(234.8, 15%, 70%);
  box-shadow: 0 0 0 2px hsla(234.8, 15%, calc(70% + 20%), 0.8);
  outline: 2px solid transparent;
}

.color-badge {
  margin-top: 2rem;
}

.color-badge p {
  color: var(--off-white);
  font-size: var(--font-size);
  font-weight: 500;
}

.colors ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
}

.badge-input {
  display: grid;
  grid-template-areas: 'checkbox';
  align-items: center;
  justify-items: center;
}

.badge-input * {
  grid-area: checkbox;
}

.badge-input input {
  width: 0;
  height: 0;
  opacity: 0;
}

.badge-control {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 2em;
  height: 2em;
  border-radius: 8px;
}

.badge-control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.badge-input input:checked + .badge-control svg {
  transform: scale(1);
}
