:root {
  /*sizes for task container and check boxes*/
  --task-bullet: 1.5em;
  --task-min-height: 3.13em;
}

.tasks-page {
  display: grid;
}

.tasks-page ol {
  margin: 0;
  padding: 0;
  width: min(70ch, 100%);
}

li.task-container {
  display: flex;
  position: relative;
  gap: 2rem;
  grid-gap: 2rem;
  padding-bottom: 4rem;
}

li.task-container:first-child {
  margin-top: 4em;
}

.task-container:not(:last-child)::after {
  content: '';
  position: absolute;
  top: var(--task-bullet);
  left: 0;
  width: 0.08em;
  height: calc(100% - var(--task-bullet));
  background-color: #e6e6e6;
  transform: translateX(calc(calc(var(--task-bullet) + 0.08em) / 2));
}

.checkbox-input {
  display: grid;
  grid-template-areas: 'checkbox';
  align-items: flex-start;
  justify-items: center;
}

.checkbox-input * {
  grid-area: checkbox;
}

.checkbox-input input {
  opacity: 0;
  width: var(--task-bullet);
  height: var(--task-bullet);
}

/* .checkbox-input input:focus{

} */

.checkbox-input .checkbox-control {
  display: inline-grid;
  width: var(--task-bullet);
  height: var(--task-bullet);
  border-radius: 50%;
  border: 0.125em solid var(--off-white);
  z-index: 1;
  overflow: hidden;
}

.checkbox-control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox-input input:checked + .checkbox-control svg {
  transform: scale(1);
}

.checkbox-input input:checked + .checkbox-control {
  border: 0.125em solid #2e7d32;
}

label:focus {
  outline: none;
}

label:focus-visible {
  outline: 2px solid #b9bacb;
  outline-style: dashed;
  outline-offset: 4px;
}

label .task {
  height: max(var(--task-min-height), auto);
  width: min(65ch, 100%);
  background-color: var(--tertiary);
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  color: var(--off-white);
}

.task .badge {
  height: inherit;
  min-width: 0.4em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task p {
  margin: 0.8em 0.8em;
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  /* transition: text-decoration 20s ease-out 25ms; */
}

.add-new-task-btn-sm {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  height: 3rem;
  width: 3rem;
  background-color: var(--primary);
  background-position: center;
  color: var(--white);
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.8s;
  display: none;
}

.add-new-task-btn-sm:hover {
  background: #b0b2c5 radial-gradient(circle, transparent 1%, #b0b2c5 1%) center/15000%;
}

.add-new-task-btn-sm:active {
  background-color: #cacbd8;
  background-size: 100%;
  transition: background 0s;
}

/*--media queries--*/

@media screen and (max-width: 580px) {
  label .task {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  :root {
    --task-min-height: 3em;
    --task-bullet: 1.2em;
  }

  .task .badge {
    min-width: 0.3em;
  }

  li.task-container {
    gap: 1rem;
    grid-gap: 1rem;
  }

  .add-new-task-btn-sm {
    display: inline-flex;
  }
}
