:root {
  --header-bullet: 1.56em;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top-left {
  display: flex;
}

.header-bullet {
  width: var(--header-bullet);
  height: var(--header-bullet);
  border-radius: 50%;
  background: var(--primary);
  align-self: center;
  cursor: pointer;
}

.date-container {
  display: flex;
  margin-left: 1rem;
  height: -moz-fit-content;
}

.date {
  color: var(--off-white);
  margin-right: 0.5em;
  font-weight: bold;
}

.add-new-task-btn {
  align-self: center;
}

.add-new-task-btn img {
  margin-right: 0.5em;
}

.links-container ul {
  display: flex;
  grid-gap: 4rem;
  align-items: start;
  list-style: none;
  margin: 0;
}

.tab {
  display: block;
}

li .tab h2 {
  color: var(--off-white);
  margin: 0.12em 0;
  font-weight: 600;
  text-decoration: none;
  font-size: var(--h2);
}

li .tabs {
  text-decoration: none;
}

.tab .active {
  height: 0.16em;
  background-color: var(--primary);
  border-radius: 4px;
}

/*--media queries--*/

@media screen and (max-width: 570px) {
  :root {
    --header-bullet: 1.26em;
  }

  .add-new-task-btn {
    display: none;
  }

  .header-top {
    display: inline;
  }

  /* .header-bottom ul {
    grid-gap: 2rem;
    padding-inline-start: 2rem;
  } */
}
