:root {
  --header-bullet: 1.56em;
}

.c__header-top {
  display: flex;
  justify-content: space-between;
}

.c__header-top-left {
  display: flex;
}

.c__header-bullet {
  width: var(--header-bullet);
  height: var(--header-bullet);
  border-radius: 50%;
  background: var(--primary);
  align-self: flex-start;
  cursor: pointer;
  margin: 0.25em 0em;
}

.c__header-top-left .c__container {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding-left: 1.5em;
}

.c__date-container {
  display: flex;
  gap: 0.6rem;
}

.date-txt {
  color: var(--off-white);
  margin: 0;
  font-weight: bold;
}

.c__add-new-task-btn {
  align-self: flex-start;
}

.c__add-new-task-btn img {
  margin-right: 0.5em;
}

.c__links-container ul {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c__tab {
  display: block;
}

li .c__tab h2 {
  color: var(--off-white);
  margin: 0.12em 0;
  font-weight: 600;
  text-decoration: none;
  font-size: var(--h2);
}

li .c__tabs {
  text-decoration: none;
}

.c__tab .active {
  height: 0.16em;
  background-color: var(--primary);
  border-radius: 4px;
}

/*--media queries--*/

@media screen and (max-width: 520px) {
  :root {
    --header-bullet: 1.26em;
  }

  .c__add-new-task-btn {
    display: none;
  }

  .c__header-bullet {
    margin: 0.4em 0em;
  }

  .c__header-top-left .c__container {
    gap: 2.8rem;
  }

  .c__links-container ul {
    grid: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .c__header-bullet {
    display: none;
  }

  .c__header-top-left .c__container {
    padding: 0;
  }

  .c__date-container {
    flex-direction: row-reverse;
    width: fit-content;
    gap: 1rem;
  }

  .c__header-top-left {
    display: block;
    width: 100%;
  }

  .c__links-container ul {
    width: 100%;
    justify-content: space-around;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 325px) {
  .c__links-container ul {
    flex-direction: column;
    width: fit-content;
    padding-inline-start: 2rem;
  }
}
