.app {
  background: var(--secondary);
  min-height: 100vh;
  max-width: 100vw;
  padding: 2em 2em;
}

.pages {
  min-height: calc(100vh - 114px);
}

.scroll-element-when-modal-active {
  /* when modal active */
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  /* Other browsers */
  overscroll-behavior: none;
}

/*--media queries*/

@media screen and (max-width: 570px) {
  .app {
    padding: 1.4em 1.4em;
  }
}
