.app {
  background: #0f0e17;
  min-height: 100vh;
  padding: 2em 2em;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top-left {
  display: flex;
}

.header-bullet {
  width: 1.56em;
  height: 1.56em;
  border-radius: 50%;
  background: #a7a9be;
  align-self: center;
}

.date-container {
  display: flex;
  margin-left: 1em;
}

.date {
  color: var(--off-white);
  margin-right: 0.5em;
  font-weight: bold;
}

.add-new-task-btn {
  min-height: 44px;
  min-width: 10ch;
  padding: 0em 0.75em;
  background-color: #a7a9be;
  color: #fff;
  border: none;
  border-radius: 6px;
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-new-task-btn img {
  margin-right: 0.5em;
}

.header-bottom {
  margin-top: 2rem;
}

.header-bottom ul {
  display: flex;
  list-style: none;
  width: 20em;
  justify-content: space-between;
  margin: 0;
}

.tab {
  color: var(--off-white);
  display: block;
  cursor: pointer;
}

.tab h2 {
  margin: 0.11em 0;
  font-weight: 500;
}

li .tabs {
  text-decoration: none;
  color: transparent;
}

.tabs .active {
  height: 0.13em;
  background: #a7a9be;
  border-radius: 4px;
}

/* .tabs:focus ~ .active {
  height: 0.13em;
  background: #a7a9be;
  border-radius: 4px;
} */

.pages {
  min-height: 30em;
}

.no-task-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.no-task-page p {
  color: var(--off-white);
}

.create-new-task-btn {
  min-height: 44px;
  min-width: 10ch;
  padding: 0em 0.75em;
  background-color: #a7a9be;
  color: #fff;
  border: none;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
