:root {
  /*sizes for task container and check boxes*/
  --header-bullet: 1.56em;
}

.app {
  background: #0f0e17;
  min-height: 100vh;
  padding: 2em 2em;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top-left {
  display: flex;
}

.header-bullet {
  width: var(--header-bullet);
  height: var(--header-bullet);
  border-radius: 50%;
  background: #a7a9be;
  align-self: center;
}

.date-container {
  display: flex;
  margin-left: 1em;
}

.date {
  color: var(--off-white);
  margin-right: 0.5em;
  font-weight: bold;
}

.add-new-task-btn {
  align-self: center;
}

.add-new-task-btn img {
  margin-right: 0.5em;
}

.header-bottom {
  margin-top: 2rem;
}

.header-bottom ul {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-gap: 1.75em;
  align-items: start;
  list-style: none;
  margin: 0;
}

.tab {
  display: block;
}

li .tab h2 {
  color: var(--off-white);
  margin: 0.12em 0;
  font-weight: 600;
  text-decoration: none;
  font-size: var(--h2);
}

li .tabs {
  text-decoration: none;
}

.tab .active {
  height: 0.16em;
  background-color: #a7a9be;
  border-radius: 4px;
}

.pages {
  min-height: 30em;
}

/* stylesheet for no-task page*/

.no-task-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.no-task-page p {
  color: var(--off-white);
  font-weight: 400;
}

/* stylesheet for task page*/

.tasks-page {
  padding-top: 4em;
}

.tasks-page ol {
  margin: 0;
  padding: 0;
}

ol li.task-container {
  display: flex;
  position: relative;
  gap: 1rem;
  padding-bottom: 4rem;
}

.task-container:not(:last-child)::after {
  content: '';
  position: absolute;
  top: calc(1.5em + 0.84375em);
  left: 0;
  width: 0.08em;
  height: calc(100% - 1.5em);
  background-color: #e6e6e6;
  transform: translateX(calc(calc(1.5em + 0.08em) / 2));
}

.checkbox-input {
  display: grid;
  grid-template-areas: 'checkbox';
  align-items: center;
  justify-items: center;
}

.checkbox-input * {
  grid-area: checkbox;
}

.checkbox-input input {
  opacity: 0;
  width: 1.5em;
  height: 1.5em;
}

.checkbox-input .checkbox-control {
  display: inline-grid;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 0.1em solid var(--off-white);
  z-index: 1;
}

.checkbox-control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox-input input:checked + .checkbox-control svg {
  transform: scale(1);
}

.checkbox-input input:checked + .checkbox-control {
  border: 0.1em solid #2e7d32;
}

label .task {
  min-height: 50px;
  min-width: 40ch;
  margin-left: 1.3em;
  background-color: #0c0b12;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  color: var(--off-white);
}

.task .indicator {
  min-height: 50px;
  width: 0.4em;
  background-color: #e53170;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task p {
  margin-left: 1em;
}

/* stylesheet for completed page*/

.completed-task-page {
  text-align: center;
}

.completed-task-page p {
  color: var(--off-white);
  font-weight: 400;
}
